.classy {
  background-color: pink;
  border: red;
  padding: 30px;
  font-family: cursive;
  font-size: 20px;
  text-align: center;
}

.sassy {
  background-color: black;
  border: red;
  border-width: thick;
  border-style: ridge;
  padding: 30px;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: pink;
}

.paragraph {
  color: pink;
  font-size: 30px;
}

h2, h4 {
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-position: inside;
}
